.movies-card-article {
  max-width: 339px;
}

.movies-card-article__annotation {
  box-sizing: border-box;
}

.movies-card-article__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px 25px 0px;
}

.movies-card-article__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2;
  color: #000000;
  box-sizing: border-box;
  text-align: left;
  margin: 0;
}

.movies-card-article__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  line-height: 1.18;
  color: #A0A0A0;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
  border-top: 1px solid #E8E8E8;
  padding-top: 6px;
}

.movies-card-article__like-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: unset;
  border-radius: 36px;
  color: #F9F9F9;
  cursor: pointer;
}

.movies-card-article__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .movies-card-article {
    max-width: 339px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-article {
    max-width: 300px;
  }
}
