.notification-modal {
  display: block;
  box-sizing: border-box;
}

.notification-modal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.3;
  transition: opacity 3s ease;
}

.notification-modal__container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 40vh;
}

.notification-modal__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 22px;
  border-radius: 15px;
}

.notification-modal__header {
  display: flex;
  justify-content: flex-end;
  flex: 1 130px;
}

.notification-modal__main {
  flex: 2 750px;
}

.notification-modal__footer {
  align-self: center;
  flex: 1 110px;
}

.notification-modal__close-button {
  width: 22px;
  height: 22px;
  background-color: unset;
  background-image: url(../../images/close-button-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: unset;
  cursor: pointer;
}
