.show-more {
  max-width: 320px;
  box-sizing: border-box;
  margin: 50px auto 70px auto;
}

.show-more__button {
  width: 100%;
  max-width: 320px;
  min-height: 36px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
  text-align: center;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease;
}

.show-more__button:hover {
  opacity: .7;
}

@media screen and (max-width: 1023px) {
  .show-more {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .show-more {
    padding-left: 10px;
    padding-right: 10px;
  }
}
