.footer {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 70px 20px 70px;
  background-color: #FFFFFF;
}

.footer__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 1.23;
  color: #A0A0A0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__text {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 1.23;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .footer__title {
    font-size: 13px;
    line-height: 1.15;
    padding-bottom: 21px;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .footer__text {
    font-size: 12px;
    line-height: 1.25;
    color: #A0A0A0;
    margin: 0 auto;
  }
}
