@import url(./vendor/normalize.css);

@import url(./vendor/fonts/inter.css);

@import url(./components/App/App.css);

@import url(./components/Header/Header.css);

@import url(./components/LogoLink/LogoLink.css);

@import url(./components/AuthNavigation/AuthNavigation.css);

@import url(./components/Navigation/Navigation.css);

@import url(./components/MobileNavigation/MobileNavigation.css);

@import url(./components/AccountLink/AccountLink.css);

@import url(./components/MobileAccountLink/MobileAccountLink.css);

@import url(./components/MenuButton/MenuButton.css);

@import url(./components/Modal/Modal.css);

@import url(./components/Main/Main.css);

@import url(./components/Promo/Promo.css);

@import url(./components/NavTab/NavTab.css);

@import url(./components/AboutProject/AboutProject.css);

@import url(./components/Title/Title.css);

@import url(./components/ArticleAbout/ArticleAbout.css);

@import url(./components/Chart/Chart.css);

@import url(./components/Techs/Techs.css);

@import url(./components/ArticleTech/ArticleTech.css);
