.about-me-article {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 110px 70px 125px 70px;
}

.about-me-article__header {
  padding-bottom: 10px;
}

.about-me-article__items-section {
  box-sizing: border-box;
  padding: 36px 0;
}

@media screen and (max-width: 1023px) {
  .about-me-article {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 767px) {
  .about-me-article {
    padding: 70px 14px;
  }

  .about-me-article__items-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
